/venv

Model/__pycache__
Model/Builder/__pycache__
Model/Cleaning/__pycache__
Model/Data_Loader/__pycache__
Model/Data
Model/Api/__pycache__

Predictor/__pycache__
Predictor/Classifier/__pycache__
Predictor/Validation/__pycache__
Predictor/Api/__pycache__